h1 {
    color: #FFFFFF;
}

h2 {
    
    color: #999999;
}

h3 {
    
    color: #FF0000;
}

body {
    background-color: #333333;      
    size: 100%;
}

table#t01 {
    width: 100%;
    color: #FFFFFF;
    border: 1px solid black;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #000000;
}

tr:nth-child(even) {
    background-color: #666666;
}

tr:hover {
    background-color: #999999;
}


button#seed {
    color: #000000;
    border-radius: 50px;
    position: relative;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration:none;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #000000;
    text-decoration:none;
}