body {
    margin:0;
	padding:0;
	border:0;
    background-color: #333333;      
    size: 100%;
    width:100%;
    font-size:90%;
}

h1 {
    color: #FFFFFF;
    margin:.8em 0 .2em 0;
	padding:0;
}

h2 {
    
    color: #FFFFFF;
    margin:.8em 0 .2em 0;
	padding:0;
}

h3 {
    
    color: #FFFF00;
    margin:.8em 0 .2em 0;
	padding:0;
}

ul, li {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration:none;
}

p {
    color: #FFFFFF;
    margin:.4em 0 .8em 0;
	padding:0;
}

table.main {
    width: 100%;
    height: 95%;
    color: #FFFFFF;
    border: 1px solid black;
    table-layout: fixed;
    padding: 5px;
}

.main tr:nth-child(even) {
    background-color: #677589;
}

.main tr:hover {
    background-color: #8E98A5;
}

.main column {
    width: 200px;
}

table.seed {
    width: 75%;
    height: 60%;
    position: center;
    color: #FFFFFF;
    border: 1px solid black;
    table-layout: fixed;
}


.seed tr:nth-child(even) {
    background-color: #666666;
}

.seed td:hover {
    background-color: #999999;
}



th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #1F324B;
}


button#seed {
    color: #000000;
    border-radius: 50px;
    position: relative;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration:none;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


button#wordsButton {
    color: #000000;
    border-radius: 50px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration:none;
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

button#backButton {
    color: #000000;
    border-radius: 50px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration:none;
    position: fixed;
    bottom: 20px;
    left: 20px; 
}

/* Free CSS Below from  http://matthewjamestaylor.com/ */



}
img {
	margin:10px 10 15px;

}
#ads img {
	display:block;
	padding-top:10px;
}


/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;
    height: 100vh;/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
    height: 100vh;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
    height: 100vh;
	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#4A5B72;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background:#4A5B72;		/* center column background colour */
}
.threecol .colleft {
	right:60%;			/* width of the middle column */
	background:#34445B;	/* left column background colour */
}
.threecol .col1 {
	width:56%;			/* width of center column content (column width minus padding on either side) */
	left:102%;/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:11%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:95%;
    /* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}
